{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title_tag %}Forgot your password? | {{ block.super }}{% endblock %}

{% block body_content %}

<div class="container">
    <h1>Forgot your password?</h1>
    <p>Oh no! It happens to the best of us, though! Enter the email address th's associated with your account and we'll send you instructionson how you can change your password.</p>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Reset password" class="btn btn-default">
    </form>
</div>
{% endblock %}
